<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="forgot-container">

  <div class="forgot-box">

    <!-- 🔥 TOAST MESSAGES (TOP FIXED) -->
    <div class="toast" *ngIf="message || error">
      <p class="msg" *ngIf="message">{{ message }}</p>
      <p class="error" *ngIf="error">{{ error }}</p>
    </div>

    <!-- TITLE -->
    <h2 *ngIf="step === 1">Forgot Password</h2>
    <h2 *ngIf="step === 2">Verify OTP</h2>
    <h2 *ngIf="step === 3">Reset Password</h2>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">

      <p>Enter your registered email</p>

      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Email"
        autocomplete="off"
      />

      <button
        (click)="sendOtp()"
        [disabled]="sendLoading || !email">
        {{ sendLoading ? 'Sending OTP...' : 'Send OTP' }}
      </button>

    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2">

      <p>OTP sent to <b>{{ savedEmail }}</b></p>

      <input
        type="text"
        [(ngModel)]="otp"
        placeholder="Enter OTP"
        autocomplete="off"
      />

      <button
        (click)="verifyOtp()"
        [disabled]="verifyLoading || !otp">
        {{ verifyLoading ? 'Verifying...' : 'Verify OTP' }}
      </button>

    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 3">

      <!-- NEW PASSWORD -->
<div class="input-wrapper">

  <input
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="newPassword"
    placeholder="New Password"
  />

  <span class="toggle-icon" (click)="showPassword = !showPassword">
    <i [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
  </span>

</div>

<!-- CONFIRM PASSWORD -->
<div class="input-wrapper">

  <input
    [type]="showConfirmPassword ? 'text' : 'password'"
    [(ngModel)]="confirmPassword"
    placeholder="Confirm Password"
  />

  <span class="toggle-icon" (click)="showConfirmPassword = !showConfirmPassword">
    <i [class]="showConfirmPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
  </span>

</div>
      <button
        (click)="resetPassword()"
        [disabled]="resetLoading">
        Reset Password
      </button>

    </div>

    <!-- BACK -->
    <div class="back-login">
      <a (click)="goToLogin()">← Back to Login</a>
    </div>

  </div>

</div>